body {
    background-color: aliceblue;
    font-size: 100%
}

h1 {
    font-size: 10vw;
}
        
.table_component {
    overflow: auto;
    width: 100%;
}
        
.table_component table {
    border: 1px solid #dededf;
    height: 100%;
    width: 90%;
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
    margin: auto;
}
        
.table_component th, td {
    border: 1px solid #dededf;
    background-color: aliceblue;
    color: #000000;
    padding: 10px;
    font-size: 2em
}

.table_component img {
    width: 80%;
    height: auto;
}

.table_component ul{
    left-padding: 20%;
}
