* {
    /*CSS Reset*/
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    vertical-align:auto;
    background: transparent;
    background-color: aliceblue;
}


h1 {
    font-size: 10em;
    color:black;
    font-family:'Courier New', Courier, monospace;
}
        
.table_component {
    overflow: auto;
    width: 100%;
}
        
.table_component table {
    border: 1px solid #dededf;
    height: 100%;
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
    margin: auto;
}
        
.table_component th, td {
    border: 2px solid #dededf;
    background-color: aliceblue;
    color: #000000;
    padding: 10px;
    font-size: 2em
}

.table_component img {
    width: 100%;
    height: auto;
}

.table_component ul, ol {
    padding-left: 10%;
}
